body {
  font-family: "Encode Sans", sans-serif;
}
.container {
  margin: auto;
  max-width: 1250px;
  display: flex;
  margin-bottom: 50px;
}
.header-logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  height: 36px;
}
.header-sections {
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;
  margin-bottom: 30px;
}
.area-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  padding: 12px 0px;
  font-weight: bold;
  margin: auto;
}
.area-sections a {
  text-decoration: none;
}
.g1 {
  color: #c3170c;
}
.oglobo {
  color: #1e4b9b;
}
.valor {
  color: #006766;
}
.ge {
  color: #07aa47;
}
.cartola {
  color: #e3662b;
}
.globoplay {
  color: #fb0735;
}
.dropz {
  color: #ff75bb;
}
.gshow {
  color: #ec7d00;
}
.quem {
  color: #323333;
}
.receitas {
  color: #a81d83;
}
.left-section {
  flex: 1;
  margin-right: 40px;
}
.right-section {
  flex: 1;
  display: flex;
}
.left-section h2 {
  font-size: 52px;
  font-weight: bold;
  color: #c4160c;
}
.left-section h3 {
  font-size: 18px;
  color: #303134;
  margin: 25px 0;
  line-height: 30px;
}
.left-top-news {
  display: flex;
  padding: 25px 0;
  border-top: 1px solid #ebedef;
  border-bottom: 1px solid #ebedef;
}
.left-bottom-news {
  display: flex;
  padding: 25px 0;
}
.left-unique-news {
  margin-right: 20px;
}
.right-a-unique-news {
  margin: 0 35px 50px 35px;
}
.right-b-unique-news {
  margin-left: 35px;
  margin-bottom: 50px;
}
.left-unique-news:last-child {
  margin-right: 0;
}
.right-a-unique-news:last-child {
  margin-bottom: 0;
}
.left-unique-news img {
  border-radius: 12px;
  width: 193px;
  height: 110px;
  margin-bottom: 6px;
}
.left-unique-news .img-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 193px;
  height: 110px;
  display: none;
}
.left-unique-news:hover .img-hover {
  display: flex;
}
.left-unique-news a,
.right-a-unique-news a,
.right-b-unique-news a {
  text-decoration: none;
}
.left-unique-news .title,
.right-a-unique-news .title,
.right-b-unique-news .title {
  margin: 6px 0;
  font-size: 14px;
  font-weight: 500;
  color: #c4170c;
}
.left-unique-news .subtitle,
.right-a-unique-news .subtitle,
.right-b-unique-news .subtitle {
  padding: 6px 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  color: #2f3134;
}
.left-unique-news .desc,
.right-a-unique-news .desc,
.right-b-unique-news .desc {
  margin: 6px 0;
  font-size: 14px;
  line-height: 20px;
  color: #2f3134;
}
.right-section-a {
  border-left: 1px solid #ebedef;
  border-right: 1px solid #ebedef;
  flex: 1;
}
.right-section-b {
  flex: 1;
}
.right-a-unique-news img,
.right-b-unique-news img {
  border-radius: 12px;
  width: 240px;
  height: 128px;
  margin-bottom: 6px;
}
.right-a-unique-news .img-hover,
.right-b-unique-news .img-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 240px;
  height: 128px;
  display: none;
}
.right-a-unique-news:hover .img-hover,
.right-b-unique-news:hover .img-hover {
  display: flex;
}
.right-a-unique-news .title {
  color: #16ae54;
}
.right-b-unique-news .title {
  color: #ec8006;
}
.columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.column {
  flex: 1;
  max-width: 400px;
  margin-right: 40px;
}
.column:last-child {
  margin-right: 0;
}
.column-area-news {
  padding: 30px 0 20px 0;
  border-top: 1px solid #ebedef;
  border-bottom: 1px solid #ebedef;
}
.column-area-news a {
  text-decoration: none;
}
.column-news .img-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 390px;
  height: 200px;
  display: none;
}
.column-news img {
  padding: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
}
.column-area-news:hover .img-hover {
  display: flex;
}
.column-desc {
  padding: 20px 15px;
}
.journalism .column-news {
  background-color: #c4170c;
  border-radius: 15px;
}
.sports .column-news {
  background-color: #06aa48;
  border-radius: 15px;
}
.entertainment .column-news {
  background-color: #ec7d00;
  border-radius: 15px;
}
.column h2 {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0;
}
.journalism h2 {
  color: #c4170c;
  border-bottom: 3px solid #c4170c;
}
.sports h2 {
  color: #06aa48;
  border-bottom: 3px solid #06aa48;
}
.entertainment h2 {
  color: #ec7d00;
  border-bottom: 3px solid #ec7d00;
}
.column h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #fff;
  margin-bottom: 30px;
}
.column p {
  font-size: 13px;
  color: #fff;
}
@media (max-width: 1250px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
  }
  .area-sections {
    max-width: 700px;
  }
  .left-section {
    margin-right: 0px;
    padding-left: 10px;
  }
  .left-unique-news:last-child {
    margin-right: 20px;
  }
  .right-section {
    padding-top: 40px;
    border-top: 2px solid #ebedef;
  }
  .columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column {
    max-width: 100%;
    margin-right: 0;
  }
  .column-area-news {
    max-width: 95%;
  }
  .column-news {
    display: flex;
  }
  .column-news .img-hover {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    width: 250px;
    height: 200px;
    display: none;
  }
  .column-news img {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    min-width: 250px;
    max-width: 250px;
    height: 200px;
  }
}
@media (max-width: 700px) {
  .valor,
  .cartola,
  .dropz,
  .quem,
  .receitas {
    display: none;
  }
  .area-sections {
    justify-content: space-evenly;
  }
  .left-top-news {
    flex-direction: column;
    border: 0;
  }
  .left-unique-news img {
    width: 100%;
    height: auto;
  }
  .left-unique-news:hover .img-hover {
    display: none;
  }
  .left-unique-news {
    padding: 15px 0;
    border-top: 4px solid #ebedef;
    border-bottom: 4px solid #ebedef;
  }
  .right-section {
    border: 0;
  }
  .columns {
    padding-left: 15px;
  }
}
